<!DOCTYPE html>
<html>
  <head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>
    <h2>Hello</h2>
  
    <!-- new html below -->
    <ul class="right">
      <li>
      <% if (user) { %>
        <a href="/logout"><i class="material-icons left">trending_flat</i>Log Out</a>
      <% } else { %>
        <a href="/auth/google"><i class="material-icons left">vpn_key</i>Login with Google</a>
      <% } %>
      </li>
    </ul>
    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="js/materialize.min.js"></script>
  </body>
</html>
      