<%- include('../partials/header') %>



<section class="intro" data-stellar-background-ratio="0.5">
<div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="catContainer">
          <img class="volunteerCat" src="images/gray-cat-with-toy.jpg" alt="Cat" width=200>
          <div class="introMessage">
              <h1>Volunteer <span>Together we can make a difference</span></h1>
              <p><a href="#" class="btn white-text">Foster Now</a></p>
          </div>

        </div>
      </div>
    </div>
  </div>

  <!-- <div class="introPhotos">
    <h2>Featured Fosters:</h2>
    <div class="catImage"><img src="images/noun_Cat_1486576.png" alt="Cat" width=200></div>
    <div class="catImage"><img src="images/gray-cat-with-toy.jpg" alt="Cat" width=200></div>
    <div class="catImage">3</div>
  </div> -->

<%- include('../partials/footer') %>



