<%- include('../partials/header') %>

  <section class="homeIntro">
    <div class="header">
        <img class="introPhoto" src="images/gray-cat-with-toy.jpg" alt="Cat">
        <div class="introMessage">
            <h1>Volunteer <span>Together we can make a difference</span></h1>
            <p><a href="#" class="btn">Foster Now</a></p>
        </div>
    </div>
  </section>


<%- include('../partials/footer') %>



