body {
  background-color: #EFEBE9;
  background-image: url("https://www.transparenttextures.com/patterns/brilliant.png");
}
.nav-wrapper {
  height: 500px;
}

.brand-logo {
  float: left;
  margin-top: 5px;
  margin-left: 10px;
  font-family: 'Livvic', sans-serif;
  font-weight: 600;
  font-size: 30px;
  text-align: center;
  line-height: 25px;
  -webkit-text-stroke: 1px #17202A;
}

.catLogo {
  margin: 5px 0 5px 5px;
  width: 45px;
}

.catContainer{
  position: absolute;
  top: 40px;
  right: 0px;
  /* margin: 20px 0 0 0; */
}

.volunteerCat {
  width: 45%
}

.introMessage {
  width: 55%;
  height: 505px;
  background-color: #5DADE2;
  position: absolute;
  top: 0px;
  right: 0;
  border: 1px solid black;
}

.intro h1 {
  text-transform: uppercase;
  font-size: 80px;
  font-weight: 900;
  line-height: 50px;
  position: absolute;
  bottom: 60px;
  left: 15px;
  padding-left: 15px;
  margin: 0;
}

.intro h1 span {
  display: block;
  font-size: 30px;
  text-transform: none;
  font-weight: 500;
  margin-left: 12px;
  line-height: 60px;
}

p {
  position: absolute;
  bottom: 10px;
  left: 15px;
  color: white;
  padding-left: 30px;
}

/* .introPhotos {
  display: grid;
  margin-top: 200px;
  font-size: 40px;
  text-align: center;
  grid-template-columns: 300px 300px 300px 300px;
  grid-template-rows: 300px 300px 300px 300px 110px;
  justify-content: center;
}

.catImage {
  width: 300px;
  height: 300px;
  /* border: 2px solid black; }*/