body {
  background-color: #EFEBE9;
  background-image: url("https://www.transparenttextures.com/patterns/brilliant.png");
}

.navbar-fixed {
  font-family: 'Livvic', sans-serif;
}

.brand-logo {
  float: left;
  margin-top: 5px;
  margin-left: 10px;
  font-family: 'Livvic', sans-serif;
  font-weight: 600;
  font-size: 30px;
  text-align: center;
  line-height: 25px;
  -webkit-text-stroke: 1px #17202A;
}

.catLogo {
  margin: 5px 0 5px 5px;
  width: 45px;
}

.catContainer{
  position: absolute;
  top: 64px;
  right: 0px;
}

.volunteerCat {
  width: 45%
}

.introMessage {
  width: 55%;
  height: 505px;
  background-color: #A3E4D7;
  position: absolute;
  top: 0px;
  right: 0;
}

.intro h1 {
  text-transform: uppercase;
  font-size: 90px;
  font-weight: 900;
  line-height: 50px;
  display: grid;
  text-align: center;
  margin-top: 200px;
}

.intro h1 span {
  font-size: 30px;
  font-weight: 500;
  line-height: 60px;
  text-transform: none;
  display: grid;
  text-align: center;
  letter-spacing: 1.5px;
}

p {
  position: absolute;
  display: grid;
  text-align: center;
}

/* .introPhotos {
  display: grid;
  margin-top: 200px;
  font-size: 40px;
  text-align: center;
  grid-template-columns: 300px 300px 300px 300px;
  grid-template-rows: 300px 300px 300px 300px 110px;
  justify-content: center;
}

.catImage {
  width: 300px;
  height: 300px;
  /* border: 2px solid black; }*/