body {
  background-color: #F8EEE7;
  background-image: url("https://www.transparenttextures.com/patterns/brilliant.png");
  font-family: 'Livvic', sans-serif;
}

header img {
  height: 85px;
  margin-left: 10px;
  margin-right: 10px;
}

header {
  background-color: #94618E;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 110px;
  display: flex;
  align-items: center;
  box-shadow: 0 0 25px 0 #94618E;
}

header * {
  display: inline;
}

header li {
  margin: 20px;
  font-weight: 500;
  font-size: 25px;
}

header li a {
  color: black;
  text-decoration: none;
}

.our-community-logo {
  float: left;
  font-weight: 600;
  font-size: 35px;
  text-align: center;
  line-height: 30px;
  text-decoration: none;
  color: black;
  margin-right: 900px;
}

#homeIntro {
  margin-top: 110px;
  display: grid;
  width: 100%;
  grid-template-columns: 750px 1fr;
  grid-template-rows: 500px;
}

#introMessage {
  background-color: #49274A;
}

#introMessage h1 {
  text-transform: uppercase;
  font-size: 90px;
  font-weight: 900;
  line-height: 50px;
  display: grid;
  text-align: center;
  margin-top: 200px;
  color: #F8EEE7;
}

#introMessage h1 span {
  font-family: 'Livvic', sans-serif;
  font-size: 25px;
  font-weight: 500;
  line-height: 70px;
  display: grid;
  text-align: center;
  letter-spacing: 1.25px;
}

.btn{
  text-decoration: none;
  font-size: 28px;
  font-weight: 500;
  color: #F8EEE7;
  border: 2px solid #f7882F;
  border-radius: 5px;
  padding: 8px;
  display: block;
  text-align: center;
  max-width: 180px;
  margin-left: auto;
  margin-right: auto;
  background-color: #f7882F;
}

#show-page {
  font-size: 30px;
  font-weight: 400;
  margin-top: 200px;
}

table, td{
  margin: 150px;
  border: 1px solid black;
}

.allCatsPhotos{
  display: grid;
  text-align: center;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 400px 400px 400px;
  grid-gap: 50px;
  justify-content: center;
}

#availableFoster, #addCatHeader, #CatNameHeader, #caretakerProfile, #profileHeader{
  text-align: center;
  font-size: 60px;
  margin-top: 140px;
}

.catImage {
  width: 300px;
  height: 400px;
  background-color: #49274A;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

div .catInfo {
  line-height: 14px;
  text-decoration: none;
}

h2, h3 {
  padding: 0;
  margin-top: 10px;
  margin-left: 20px;
  text-align: left;
}

.learnMore {
  color: #f7882F;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 1.1px;
}

.fourohfour, .fourohfour h1, .fourohfour h2{
  text-align: center;
}

.fourohfour h1 {
  font-size: 80px;
  margin: 0;
}

.fourohfour h2 {
  font-size: 40px;
}

.bodyPhotos {
  display: grid;
  text-align: center;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 400px;
  grid-gap: 50px;
  justify-content: center;
  margin-bottom: 40px;
}

#recentArrivals {
  text-align: center;
  font-size: 60px;
  margin-top: 10px;
}

#addCat {
  margin-left: 725px;
  text-align: left;
}

label {
  font-size: 28px;
  line-height: 50px;
  margin-right: 40px;
}

input {
  height: 28px;
}

#newCatForm, #newCaretakerForm {
  display: inline-block;
  text-align: left;
  margin-left: 650px;
}

.catHistory{
  display: grid;
  text-align: center;
  grid-gap: 50px;
  grid-template-columns: 300px 450px 300px;
  grid-template-rows: 225px 300px 300px;
  justify-content: center;
  color: black;
}

.CatInfo h2 {
  text-align: center;
  font-size: 60px;
  margin: 0;
}

.CatInfo h3 {
  text-align: center;
  font-size: 30px;
}

.catAddInfo h3{
  text-align:left;
  display: grid;
  line-height: 20px;
}

.catGallery {
  display: flex;
  justify-content: center;
}

.catProfile {
  margin-top: 150px;
  margin-bottom: 80px;
  margin-left: 20px;
  margin-right: 20px;
  display: inline-block;
  justify-items: center;
  text-align: center;
}

.yourProfile {
text-align: center;
}