<%- include('../partials/header') %>

<!-- THIS IS FOR A NEW CAT'S INFO TO BE CREATED -->

<h2>Add a New Cat</h2>
  <form id="addCat" action="/cats" method="POST">
    <label>Photo:
        <input type="text" name="photo">
    </label>
    <label>Name:
      <input type="text" name="name">
    </label>
    <br>
    <label>Age:
      <input type="text" name="age">
    </label>
    <br>
    <label>Sex:
      <select name="sex">
      <option value="Male">Male</option>
      <option value="Female">Female</option>
      </select>
    </label>
    <br>
    <label>Weight
      <input type="text" name="weight">
    </label>
    <br>
    <label>FIV +:
      <select name="fiv">
      <option value="Yes, Positive">Yes, Positive</option>
      <option value="No, Negative">No, Negative</option>
      </select>
    </label>
    <br>
    <label>Location:
      <select name="location">
      <option value="North Austin">North Austin</option>
      <option value="South Austin">South Austin</option>
      <option value="East Austin">East Austin</option>
      <option value="West Austin">West Austin</option>
      </select>
    </label>
      <input type="submit" value="Add Cat">
  </form>

<%- include('../partials/footer') %>