<%- include('../partials/header') %>

<section>

    <h2 id="addCatHeader">Add A Cat:</h2>
  <form id="addCat" action="/cats" method="POST">
    <label>Name:
      <input type="text" name="name">
    </label>
    <br>
    <label>Years:
      <input type="text" name="years">
    </label>
    <br>
    <label>Months:
        <input type="text" name="months">
      </label>
    <br>
    <label>Sex:
      <select name="sex">
      <option value="Male">Male</option>
      <option value="Female">Female</option>
      </select>
    </label>
    <br>
    <label>Weight
      <input type="text" name="weight">
    </label>
    <br>
    <label>FIV +:
      <select name="fiv">
      <option value="Yes, Positive">Yes, Positive</option>
      <option value="No, Negative">No, Negative</option>
      </select>
    </label>
    <br>
    <label>Location:
      <select name="location">
      <option value="North Austin">North Austin</option>
      <option value="South Austin">South Austin</option>
      <option value="East Austin">East Austin</option>
      <option value="West Austin">West Austin</option>
      </select>
    </label>
    <br>
    <label>Photo:
        <input type="text" name="photo">
    </label>
    <br>
      <input type="submit" class"add" value="Add Cat">
  </form>

</section>
<%- include('../partials/footer') %>