<%- include('../partials/header') %>

<h2>Enter a New Movie</h2>
<form action="/cats" method="POST">
<label>Name:
<input type="text" name="name">
</label>
<br>
<label>Age:
<input type="text" name="age">
</label>
<br>
<label>Sex:
<select name="sex">
<option value="Male">Male</option>
<option value="Female">Female</option>
</select>
</label>
<br>
<label>Weight
<input type="text" name="weight">
</label>
<br>
<label>FIV +:
<select name="fiv">
<option value="Positive">Yes, Positive</option>
<option value="Negative">No, Negative</option>
</select>
</label>
<br>
<label>Location:
<select name="location">
<option value="North Austin">North Austin</option>
<option value="South Austin">South Austin</option>
<option value="East Austin">East Austin</option>
<option value="West Austin">West Austin</option>
</select>
</label>
<input type="submit" value="Add Cat">
</form>

<%- include('../partials/footer') %>