<%- include('../partials/header') %>

<!-- THIS IS FOR A SPECIFIC CAT'S INFO TO BE SHOWN -->

<h2 id="CatNameHeader">cat name</h2>

<div class="catInfoGallery">
  <div class="catIdPhoto"><img src="../public/images/India_1.jpeg" alt="Cat" width=300>
  <div class="catIdPhoto"><img src="../public/images/India_2.jpeg" alt="Cat" width=300>
  <div class="catIdPhoto"><img src="../public/images/India_3.jpeg" alt="Cat" width=300>
</div>

<div class="catIdInfo">
  <div class="catAddInfo">
    <h2> Additional Info: </h2>
    <div>Good with Dogs?</div>
    <p>Good with Cats?</p>
    <p>Good with Kids?</p>
    <p>Current Weight</p>
    <p>Long-Term Meds?</p>
  </div>

  <div class="CatInfo">
    <h2>Name</h2>
    <p>Age</p>
    <p>Blurb</p>
  </div>

  <div class="catLocalInfo">
      <h2> My Pickup Location: </h2>
      <p> Address</p>
  </div>

  <div>
      <h2> Interested in Name? </h2>
      <p><a href="caregivers" class="btn">Send My Profile</a></p>
  </div>

  <div class="catHistoryInfo">
    <h2> History </h2>
    <p> Date, Blurb</p>
    <p> Date, Blurb</p>
    <p> Date, Blurb</p>
    <p> Date, Blurb</p>
    <p> Date, Blurb</p>
  </div>

  <div>
      <h2> Google Maps </h2>
  </div>

</div>
  <%- include('../partials/footer') %>